<div class="col-lg-10 col-12 offset-lg-1">

  <div class="jumbotron">
    <h1 class="display-4 text-center">
      Bienvenido a Our Life
      <span class="fab fa-angellist" style="color: black">    </span>
    </h1>

    <p class="lead text-center">Disfruta de viendo las publicaciones de tus amigos y subiendo contenido </p>
    <hr class="my-4">
    <div class="text-center">
      <button class="btn btn-primary m-1 bg-orange" href="#" role="button">MI PERFIL</button>
      <button class="btn btn-primary m-1 bg-orange" href="#" role="button">LINEA DE TIEMPO</button>
      <button class="btn btn-primary m-1 bg-orange" href="#" role="button">MAS GENTE</button>
    </div>

  </div>
</div>
